# ==----------------------------------------------------------------== #
# SPDX-FileCopyrightText: © 2024-2025 Nayan Patil <nayantsg@proton.me>
#
# SPDX-License-Identifier: GPL-3.0-or-later
# ==----------------------------------------------------------------== #

# Rust build artifacts
/target/

# Gradle
/.gradle/
/build/

# Pkl
/stdlib/build/
/stdlib/NecronuxStd.pcf
